.fileUpload {
    position: relative;
}

.fileUploadSpinner {
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    z-index: 9;
}

.fileUploadImage {
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    top: 1px;
    left: 1px;
    z-index: 8;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
}

.fileUploadImage img {
    margin-top: 2px;
    max-height: calc(100% - 4px);
}

.fileUploadImage a {
    position: absolute;
    font-size: 1.2rem;
    right: 4px;
    top: 0;
}